@import "tailwindcss";

@font-face {
  font-family: 'Hartwell-Black';
  src: url('./assets/fonts/Hartwell-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ambulatoria-ExtraLight';
  src: url('./assets/fonts/ambulatoriaa-extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-hartwell: 'Hartwell-Black', sans-serif;
  --font-ambulatoria: 'Ambulatoria-ExtraLight', sans-serif;
}

