@import "tailwindcss";

body {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 237, 237, 1) 27%,
    rgba(237, 237, 237, 1) 50%,
    rgba(189, 189, 189, 1) 100%
  );
}